<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Libs/libs.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Libs/libs.toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Libs/libs.dataTables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Libs/libs.fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Libs/libs.selectize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Utils/SKGlobal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Utils/SKMain.css') }}">
    <script src="{{ url_for('static', filename='JS/Libs/libs.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/Libs/libs.toastr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/Libs/libs.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/Libs/libs.selectize.js') }}"></script>
    {% block head %}

    {% endblock %}
</head>
<body class="body-style">
    <div class="container-style">
        <div>
            <div class="header-style d-flex justify-content-between align-items-center h-100">
                <span class="header-title">FinanSmart</span>
                <span class="header-username font-weight-bold" id="header-username-span">@alexvieiradias</span>
            </div>
        </div>
        <div class="content-style">
            <div class="sidebar-style">
                <ul class="nav flex-column sidebar-nav">
                    <div>
                        <li id="home-option" class="nav-item options-bar">
                            <span class="nav-link">Visão Geral</span>
                        </li>
                        <li id="general-register-option" class="nav-item options-bar">
                            <span class="nav-link">Cadastros Gerais</span>
                        </li>
                        <li id="accountpayable-option" class="nav-item options-bar">
                            <span class="nav-link">Contas a Pagar</span>
                        </li>
                        <li id="accountreceivable-option" class="nav-item options-bar">
                            <span class="nav-link">Contas a Receber</span>
                        </li>
                        <li id="function-option" class="nav-item options-bar">
                            <span class="nav-link">Funções</span>
                        </li>
                    </div>
                    <div>
                        <li id="settings-option" class="nav-item options-bar">
                            <span class="nav-link">Configurações</span>
                        </li>
                        <li id="leave-option" class="nav-item options-bar">
                            <span class="nav-link">Sair</span>
                        </li>
                    </div>
                </ul>
            </div>
            <main class="main-content py-5 px-5 w-100 d-flex">
                {% block body %}

                {% endblock %}
            </main>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='JS/Utils/Autenticate.js') }}"></script>
    {% block scripts %}
       
    {% endblock %}
</body>
</html>
